<nav>
    <a href="index.html" class="nav-home" data-i18n="nav_home">🏠</a>
    <a href="about.html" data-i18n="nav_about">Обо мне</a>
    <a href="projects.html" data-i18n="nav_projects">Проекты</a>
    <a href="contact.html" data-i18n="nav_contact">Контакты</a>
    <a href="bio.html" data-i18n="nav_bio">Биография</a>
    <div class="language-switcher">
        <a href="../ru/index.html" class="lang-ru" hreflang="ru" data-lang="ru">
            <img src="../img/ru.webp" alt="RU" width="16" height="12"> РУС
        </a>
        <a href="../en/index.html" class="lang-en" hreflang="en" data-lang="en">
            <img src="../img/gb.webp" alt="EN" width="16" height="12"> ENG
        </a>
        <a href="../es/index.html" class="lang-es" hreflang="es" data-lang="es">
            <img src="../img/es.webp" alt="ES" width="16" height="12"> ESP
        </a>
    </div>
</nav>